<div class="pub-sub-navbar-fixed">
    <div class="container gnb-container">
        <a class="navbar-brand" href="/">{{site.data.lang.main.title}}</a>
        <span class="sub-title">{{selMenuNode.name}}</span>
        <div id="nav-menu-container">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a class="nav-link" href="{{site.data.siteInfo.githubSite}}"
                        style="background: #f3f3f3;color: #000;border-radius: 5px;border: 1px solid #dedede;">
                        <i class="fa fa-github"></i><i class="fa fa-star" style="padding-left: 10px;"></i>
                        <span>Star</span>
                    </a>

                </li>
            </ul>
        </div>
        
        <ul class="menu-area">
            <li><a href="./">Demo</a></li>
            <li><a href="./options.html">Options</a></li>
            <!--
            <li><a href="./methods.html">Methods</a></li>
            <li><a href="./events.html">Events</a></li>
            -->
        </ul>
    </div>
    
</div>