html , body {
	width:100%;
	height:100%;
}
.gnb-container{
	padding:13px 26px;
}

#nav-menu-container {
    float: right;
    margin: 0;
    padding :0px;
}

#nav-menu-container > ul{
    padding :0px;
}
#nav-menu-container li {
    float: left;
    list-style: none;
}
.pub-sub-navbar-fixed {
	position: relative;
	height: 64px;
	z-index: 997;
	background-color: #7376df;
	color: #fff;
}
.pub-sub-navbar-fixed  a {
	color: #fff;
}
.pub-sub-navbar-fixed nav{
    position: fixed;
	background-color: #7376df;
	width: 100%;
	height: 64px;
	line-height: 64px;
}
.vertical-navigations{
	position: relative;
	z-index: 2;
}


.vertical-navigations .side-nav {
	top: 64px;
	background: #212121;
	color: rgba(224,224,224,.87);
	overflow-y: auto;
	height: 100%;
	border: none;
	width: 260px;
	background-color: #EDF1F5;
	color : #101010;
}

.side-nav.fixed {
	left: 0;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	position: fixed;
}

.main-demo-wrapper{
	height: 100%;
    width: 100%;
    float: left;
    position: absolute;
    top: 0px;
    padding-top: 65px;
}

.main-api-wrapper{
	height: 100%;
    width: 100%;
    float: left;
    position: absolute;
    padding-left: 280px;
    top: 0px;
    padding-top: 65px;
}


.js-option-area{
	height: 850px;
	overflow: auto;
	border: 1px solid #dddddd;
	margin: 0px -10px 20px;
}
.js-result-area{
	border: 1px solid #dddddd;
	margin: 0px -10px 10px;
}
.js-option-view-area{
	border: 1px solid #dddddd;
}
.js-run-area{
	margin: 12px 0px 20px;
	height: 490px;
}

.js-view-area{
	height: 410px;
}

.wh100{
	width:100%;
	height:100%;
}

.main-content{
	margin : 0px 0px;
}

.page-title{
	padding:10px 10px 0px;
}

.container {
    max-width: 1260px;
}



/* option desc area start*/
.result-html-area thead th {
text-align: center;
}

.result-html-area select {
height: 25px;
line-height: 20px;
padding: 0px;
margin: 0px;
min-width: 50px;
}

.result-html-area input[type="text"] {
width: 100%;
border-radius: 4px;
border: 1px solid #dddddd;
padding: 0px 5px;
}

.result-html-area .pub-option-key > div, .result-html-area .pub-option-val > div {
padding-left: 3px;
}

.result-html-area > tbody td {
vertical-align: top;
border: 1px solid #747272;
background: #ffffff;
}

.result-html-area > tbody .pub-option-key {
width: 150px;
}

.result-html-area > tbody .pub-option-val {
width: calc(100% - 150px);
}

.result-html-area .pub-option-sub-tbl {
width: 100%;
}

.result-html-area .pub-option-sub-tbl > tbody .pub-option-key {
width: 100px;
}

.result-html-area .pub-option-sub-tbl > tbody .pub-option-val {
width: calc(100% - 100px);
}
/* option desc area end*/