<!DOCTYPE html>
<html class="loading" lang="en">

<head>
<title>{{page.title}}</title> 
{% include sub_demo_head.html %}

{% assign selMenuNode = site.data.menu[page.menuKey] %}

</head>

<body>
	<div class="pub-sub-navbar-fixed">
		<div class="container gnb-container">
			<a class="navbar-brand" href="/">{{site.data.lang.main.title}}</a>
										
			<div id="nav-menu-container">
				<ul class="nav-menu">
					<li class="nav-item">
						<a class="nav-link" href="{{site.data.siteInfo.githubSite}}" style="background: #f3f3f3;color: #000;border-radius: 5px;border: 1px solid #dedede;">
							<i class="fa fa-github"></i><i class="fa fa-star" style="padding-left: 10px;"></i> <span>Star</span>
						</a>
						
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main-demo-wrapper">
		<!-- <div style="width:100%;overflow-x:auto;overflow-y:hidden;">  -->
		<div class="container">
			<div class="main-header">
				<div class="page-title">
					<h2>{{page.title}}</h2>
				</div>
			</div>
			<!-- content-->
			<div class="main-content row">
				{{ content }}
			</div>
		</div>
	</div>
	<!-- </div>-->
	<!-- SCRIPTS-->
	{% include sub_scripts.html %}
	<!-- _includes에 정의된 scripts -->
</body>
</html>